<div class="dashboard-container">
    <h2>Welcome back! 📊</h2>
    <p>Today is {{ today | date: 'fullDate' }}</p>
  
    <div class="summary-grid">
      <!-- Total Expenses Card -->
      <mat-card class="summary-card">
        <h3>Total Expenses</h3>
        <p>₹ {{ totalExpense | number }}</p>
      </mat-card>
  
      <!-- Monthly Expenses Card -->
      <mat-card class="summary-card">
        <h3>This Month</h3>
        <p>₹ {{ monthlyExpense | number }}</p>
      </mat-card>
  
      <!-- Categories Card -->
      <mat-card class="summary-card">
        <h3>Categories</h3>
        <p>{{ categoryCount }}</p>
      </mat-card>
    </div>

    <div class="chartbox">
  
    <!-- Pie Chart for Category Breakdown -->
    <mat-card class="category-chart-card">
      <mat-card-header>
        <mat-card-title>Category Breakdown</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div style="display: block;">
          <canvas baseChart
                  [data]="pieChartData"
                  [options]="pieChartOptions"
                  [legend]="true"
                  [type]="'pie'"
                  >
          </canvas>
        </div>
      </mat-card-content>
    </mat-card>
  
    <!-- Bar Chart for Monthly Expenses -->
    <mat-card class="monthly-expense-chart-card">
      <mat-card-header>
        <mat-card-title>Monthly Expenses</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div style="display: block;">
          <canvas baseChart
                  [data]="barChartData"
                  [options]="barChartOptions"
                  [legend]="true"
                  [type]="'bar'"
                  >
          </canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  </div>
  